# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies
.macos/
web/.dart_tool/
web/build/
linux/
windows/
coverage/
test/**.logs
.flutter-*
# VS Code
.vscode/
# Xcode
xcuserdata/
*.xcworkspace
# Others
.env
.env.*
.env_local
*.iml
*.ipr
*.iws
*.swp
*.lock
*.log
*.tmp
*.DS_Store
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
*.db
*.sublime-workspace
*.sublime-project
